__pycache__/
*.py[cod]
*.egg-info/
.coverage
coverage.xml
.pytest_cache/
.ruff_cache/
.venv/
venv/
.env
.env.*
dist/
build/
.ipynb_checkpoints/
*.code-workspace
.idea/
.DS_Store
Thumbs.db
scenario-output/
.vscode/


!.vscode/
!.vscode/launch.json
